# spring.application.name=realiza
spring:
  datasource:
    # url: jdbc:h2:mem:testdb # H2 em memória
    url: jdbc:h2:file:./data/testdb # Persistência de H2
    # Banco de dados H2 em memória (mude para 'jdbc:h2:file:./data/testdb' para persistência em arquivo)
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
  data:
    mongodb:
      uri: mongodb://localhost:27017
      database: mydatabase