spring:
  application:
    name: realiza
  profiles:
    active: ${SPRING_ACTIVE_DATABASE:prod}
  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 20MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_EMAIL}
    password: ${GMAIL_PASSWORD}
    properties:
      mail.smtp:
        auth: true
        starttls.enable: true
  security:
    user:
      name: ${SECURITY_USER}
      password: ${SECURITY_PASSWORD}
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST}
    port: ${SPRING_RABBITMQ_PORT}
    username: ${SPRING_RABBITMQ_USER}
    password: ${SPRING_RABBITMQ_PASSWORD}
    listener:
      simple:
        concurrency: 1
        max-concurrency: 2
        prefetch: 1
        acknowledge-mode: auto
        default-requeue-rejected: false
        retry:
          enabled: true
          initial-interval: 1000
          max-attempts: 5
          max-interval: 10000
    template:
      reply-timeout: 180000
logging:
  level:
    root: info
server:
  port: 8080